* {
  text-align: center;
  font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
}

#body {
  background-color: #5f9ea0;
}

div {
  border: 5px red;
}

button {
  background-color: #008b8b;
  color: #fff;
  padding: 10px 20px;
  border: 5px 5px;
  border-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.2s ease-in-out;
  margin: 10px;
}

button:hover {
  background-color: #48d1cc;
  border-color: black;
  color: black;
}

.container,
.projcard {
  background-color: #4682b4;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.123);
  margin: 20px;
}

input {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

#adddisplay,
#retrievedisplay {
  display: flex;
  flex-direction: column;
  background-color: #009d7e;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

#app {
  margin: 15%;
}
